@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
    @apply bg-backgroundcolor;
}

h1 {
    @apply text-4xl font-bold tracking-tight mb-8 mt-12;
}

h2 {
    @apply text-3xl font-bold tracking-tight my-4;
}

h3 {
    @apply text-2xl font-bold tracking-tight my-2;
}

h4 {
    @apply text-base font-bold tracking-tight;
}

a {
    @apply text-blue-700;
}

*:focus {
    @apply outline-none;
}

.subtitle {
    @apply italic text-2xl text-gray-400 mb-10 block;
}

.button {
    @apply flex items-center justify-center py-2 px-4 bg-gray-500 font-medium rounded-full text-sm transition-all bg-opacity-15 text-black hover:bg-opacity-100 hover:text-white;
}

/* Styling for buttons in editor. */
#editor button {
    @apply h-8 w-8 rounded-md bg-gray-500 bg-opacity-15
    border-2 border-gray-600 border-opacity-0 transition-all
    text-sm font-medium tracking-tight text-black
    hover:border-opacity-100 flex items-center justify-center;
}

#editor button.active {
    @apply border-opacity-100 bg-opacity-100 text-white;
}

#editor button:disabled {
    @apply text-gray-500 text-opacity-40 bg-gray-500 bg-opacity-15 cursor-default hover:border-opacity-0;
}

/* Styling for form elements. */
.form-field {
    @apply border-2 border-opacity-30 border-black border-solid rounded-2xl;
}

.form-input {
    @apply border-0 resize-none h-11 w-full p-1 px-5 bg-slate-100 rounded-2xl shadow-inner align-middle;
}

.form-label {
    @apply mb-1.5 ml-1 text-xs tracking-tight font-medium uppercase text-secondary;
}

.form-error {
    @apply text-red-500;
}

.form-success {
    @apply text-green-400;
}

.hoverable {
    @apply transition duration-300 ease-in-out shadow-md hover:shadow-lg transform hover:-translate-y-0.5 hover:scale-105;
}

.exit-button {
    @apply text-gray-700 text-3xl font-bold;
}

.login-button {
    @apply py-2 px-6 rounded-full text-black font-semibold text-xs w-28;
}

.outer-modal {
    @apply overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-40 justify-center items-center w-full h-[calc(100%)] max-h-full bg-black bg-opacity-40;
}

.inner-modal {
    @apply relative shadow-2xl w-full m-auto mt-48 max-w-[530px] max-h-full rounded-xl z-50;
}

.signup-button {
    @apply py-2 px-6 rounded-full text-black font-semibold text-xs w-28 bg-gray-300;
}

.page-title {
    @apply block text-white font-bold bg-primary rounded-full shadow-lg
        text-xl px-5 py-2 mt-2 mb-4 mx-auto w-full text-center
        sm:text-2xl sm:px-7 sm:py-2.5 sm:mb-6
        md:text-3xl md:px-9 md:py-3 md:mt-12 md:mb-8 md:mx-0 md:w-max;
}

.opacity-gradient {
    mask-image: linear-gradient(rgb(0 0 0 / 100%), 85%, transparent);
}
